
.rows-spliter {
    width: 99%;
    height: 200px;
}

.last-row-spliter {
    width: 99%;
    height: 400px;
}

.disc-1-cn {
    margin-left: 10%;
    padding-top: 50px;
}

.disc-2-cn {
    margin-left: 10%;
}

.disc-3-cn {
    margin-left: 10%;
    padding-top: 50px;
}

.disc-4-cn {
    margin-left: 10%;
    padding-top: 50px;
}

.disc-5-cn {
    margin-left: 10%;
    padding-top: 50px;
}

.integrate-1 {
    margin-left: 10%;
}